pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/.gitignore

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/.travis.yml

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/CONTRIBUTING.md

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/Gemfile

*.lock

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/README.md

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/manifests/init.pp

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/script/cardboard-exec

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/script/cibuild

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/script/lint

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/script/specs

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/script/syntax

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/spec/classes/autoconf_spec.rb

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/spec/fixtures/manifests/site.pp

.tmp/librarian/cache/source/puppet/githubtarball/018f0b13800f6ef59e1f28584983b876/autoconf/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-autoconf-564f5bc/spec/spec_helper.rb

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/.gitignore

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/CONTRIBUTING.md

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/Gemfile

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/README.md

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/manifests/init.pp

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/script/cardboard-exec

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/script/cibuild

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/script/lint

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/script/specs

.tmp/librarian/cache/source/puppet/githubtarball/35e3a0f200545dfee5d203d7f75bd135/libtool/version/47cd76e43f74bbc2e1baaf194d07e1fa/boxen-puppet-libtool-21a44e6/script/syntax
